{% extends "./layout.html" %}

{% block main %}

<main>
    <h2>Pathwords</h2>
    <p>
        A word find game. The letters are in a grid. You find words by starting with a letter and then making a path through the word going
        vertically, horizontally, or diagonally around the grid. The path may cross itself, but no letter may be in the path more than once.
        [TODO: put a picture of the game here once the game is developed]
    </p>
    <a href="/pathwords/start">Play Pathwords</a>
</main>

{% endblock %}