<!DOCTYPE html>
<html>
<head>
    <title>Mikey's Games - {{ title }}</title>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport'>
    <link href='/static/favicon.ico' rel='shortcut icon'>
    <link href='/static/favicon.ico' rel='icon' sizes='16x16 32x32 64x64'>
    <link href='/static/css/icomoon.css' rel='stylesheet' type='text/css'>
    <link href='/static/css/main.css' rel='stylesheet' type='text/css'>
    <link href='/static/css/pathwords.css' rel='stylesheet' type='text/css'>
</head>
  <body>
    <header>
      <nav>
        <a href='/' title='Home'>
          <img class='icon' src='/static/dice.png'>
        </a>
        <h1>Mikey's Games - {{title}}</h1>
      </nav>
    </header>
    {% block main %}
    {% endblock %}
  </body>
</html>
