<main>
<h2>Welcome</h2>
<p class='big'>Connect to this server at <a href="http://<%= @server %>"><tt><%= @server %></tt></a> or scan this code</p>
<%= @qr_code %>
</main>
<script>
  setTimeout(() => { window.location.reload(); }, 1000);
</script>