﻿:root {
    --primary-color: #01026d;
    --primary-accent: #3b07b4;
    --secondary-color: #680397;
    --danger-color: red;
    --nav-bg: #d8d8d8;
    --bg-color: white;
    --bg-shaded: #e8e8e8;
}

@font-face {
    font-family: "FredokaOne";
    src: url("fonts/FredokaOne.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "ShareTechMono";
    src: url("fonts/ShareTechMono.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

body,
nav {
    min-width: 310px;
}

a,
body,
input,
button,
select,
optgroup,
textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.big-button {
    padding: 2rem;
    font-size: 2rem;
}

body,
header {
    margin: 0;
}

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0.33rem 0.66rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    background-color: var(--bg-color);
    margin: 0 0.66rem 0 0;
    vertical-align: middle;
    height: 2.25rem;
}

.btn .icon {
    float: left;
    vertical-align: middle;
    margin: 0.125rem 0 0;
}

.btn .text {
    margin-left: 0.5rem;
}

.btn.danger {
    color: var(--bg-color);
    background-color: var(--danger-color);
    border-color: var(--danger-color);
}

.btn.primary {
    color: var(--bg-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn.secondary {
    color: var(--bg-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

button {
    cursor: pointer;
}

.buttons {
    margin-top: 2rem;
}

.diff {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 1.5rem;
}

dd {
    padding: 0.4rem 0 0.5rem 0.5rem;
    border-bottom: 1px dashed lightgrey;
    margin: 0.5rem 0 1rem 0;
    border-top: 1px dashed lightgrey;
}

dl {
    margin: 0;
}

dt {
    margin: 0;
    font-weight: bold;
}

#flash .success {
    margin: 1rem 1rem 1rem 0;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 0.75rem black;
}

#flash .success:before {
    content: "\e606";
}

#flash .info:before {
    content: "\e61d";
}

#flash .danger:before {
    content: "\e60d";
}

#flash .success:before,
#flash .info:before,
#flash .danger:before {
    font-family: "icomoon" !important;
    font-size: 2rem;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 2rem;
    padding-right: 1rem;
    vertical-align: middle;
}

#flash .danger {
    margin: 1rem 1rem 1rem 0;
    padding: 1rem;
    background-color: var(--danger-color);
    color: white;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 0.75rem black;
}

#flash .info {
    margin: 1rem 1rem 1rem 0;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 0.75rem black;
}
form {
    margin-bottom: 2rem;
}

form label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

form input[type="text"],
form input[type="checkbox"],
form input[type="date"],
form input[type="datetime"],
form input[type="number"],
form input[type="search"],
form input[type="time"],
form input[type="url"],
form input[type="email"],
form textarea,
form select {
    display: block;
    border: 1px solid #bebebe;
    padding: 7px;
    margin: 0.25rem 0;
    outline: none;
    max-width: 35rem;
    width: 100%;
}

form input[type="checkbox"] {
    width: 2rem;
}

form input[type="text"]:focus,
form input[type="checkbox"]:focus,
form input[type="date"]:focus,
form input[type="datetime"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="time"]:focus,
form input[type="url"]:focus,
form input[type="email"]:focus,
form textarea:focus,
form select:focus {
    -moz-box-shadow: 0 0 8px #88d5e9;
    -webkit-box-shadow: 0 0 8px #88d5e9;
    box-shadow: 0 0 8px #88d5e9;
    border: 1px solid #88d5e9;
}

form input[type="text"]:focus,
form input[type="date"]:focus,
form input[type="datetime"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="time"]:focus,
form input[type="url"]:focus,
form input[type="email"]:focus,
form textarea:focus,
form select:focus {
    -moz-box-shadow: 0 0 8px #88d5e9;
    -webkit-box-shadow: 0 0 8px #88d5e9;
    box-shadow: 0 0 8px #88d5e9;
    border: 1px solid #88d5e9;
}

form fieldset {
    display: flex;
    flex-wrap: wrap;
    border: 1px dashed grey;
    margin-bottom: 0.5rem;
}

form fieldset .btn {
    margin-top: 2rem;
    margin-left: auto;
}

form fieldset label {
    margin-top: 0.66rem;
    margin-right: 2rem;
    min-width: 17%;
}

form fieldset input,
form fieldset select {
    height: 2.25rem;
}

form fieldset legend {
    font-weight: bold;
    font-size: 1.25rem;
    margin-left: -0.33rem;
    padding: 0 1rem;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background: #4691a4;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.required {
    color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0 0.5rem 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

li.account {
    margin-left: 0;
    padding: 0.5rem 0;
    font-size: 1.5rem;
}

li.account .btn {
    margin: 0;
}

li.account ul li:first-child {
    margin-top: 0.66rem;
}

.links {
    margin: 0.33rem 0 1rem 0;
}

main {
    margin: 0;
    padding: 0.5rem 2rem;
}


nav {
    margin: 0;
    padding: 0.33rem 2rem;
    background-color: var(--nav-bg);
}

nav a,
nav .label {
    color: var(--primary-color);
    font-size: 1.25rem;
    text-decoration: none;
}

nav a:hover,
nav .label:hover {
    color: var(--primary-color);
}

nav h1 {
    display: inline-block;
}

nav .icon {
    vertical-align: middle;
    width: 4rem;
}

nav .label {
    padding-top: 0.75rem;
}

nav .label:hover {
    cursor: pointer;
}

nav section {
    padding-right: 1rem;
    display: inline-block;
    flex-direction: column;
    transition-duration: 0.5s;
}

nav section:last-child {
    margin-left: auto;
}

nav section .menu {
    background-color: var(--nav-bg);
    flex-direction: column;
    transition: all 0.5s ease;
    margin-left: -1rem;
    margin-top: 1.33rem;
    opacity: 0;
    padding: 1rem;
    position: absolute;
    z-index: -1;
}

nav section:focus-within .menu,
nav section:hover .menu,
nav section .menu:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    z-index: 1;
}

nav section .menu a {
    display: block;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}

nav .icon {
    font-size: 1.8em;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: var(--primary-color);
    color: var(--bg-color);
    text-align: left;
}

th,
td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid var(--primary-accent);
}

tbody tr:nth-of-type(even) {
    background-color: var(--bg-shaded);
}

tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary-color);
}

tt {
    font-family: "Fira Mono" !important;
    font-size: 1.5rem;
    font-weight: bold;
}

@media(max-width:420px) {
  header {
    margin: 0 auto;
  }

  nav {
    display: flex;
    justify-content: center;
      padding: 0.33rem 0;
  }

  main {
      padding: 0.33rem 0.66rem;
  }
}
