.pathwords .big-info {
    font-family: ShareTechMono;
    font-size: 3rem;
    margin-bottom: 1rem;
}

    .pathwords .big-info.game-over {
        font-family: FredokaOne;
    }

.pathwords .board {
    border: 3px solid black;
    display: table;
    margin-bottom: 2rem;
}

    .pathwords .board .row {
        display: table-row;
    }

    .pathwords .board .die {
        background: white;
        border: 1px solid black;
        display: table-cell;
        font-size: 2rem;
        font-weight: bold;
        height: 4rem;
        margin: 0;
        text-align: center;
        width: 4rem;
    }

.pathwords.server {
    display: flex;
    flex-direction: row;
}

    .pathwords.server section {
        flex: auto;
    }

.pathwords textarea {
    width: 16rem;
    height: 20rem;
    border: 2px solid black;
}
