{% extends "../layout.html" %}

{% block main %}

<main class="pathwords">
    <h2>Pathwords ID: {{ game_id }}</h2>
    <table class="board">
        {% for row in rows %}
        <tr class="row">
            {% for die in row %}
            <td class="die">{{ die }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <form method="post">
        <h3>Words</h3>
        {% csrf_token %}
        <textarea id="words" name="words" cols="16" rows="20"></textarea>
        <input class="btn" type="submit" name="score-pathwords" value="Score!" />
    </form>
</main>
{% endblock %}