{% extends "../layout.html" %}

{% block main %}
<main>
    <h2>Your score was {{score}}</h2>
    <h3>Valid Words (with Score)</h3>
    <ul>
        {% for word in valid %}
        <li>{{word.word}} ({{word.score}})</li>
        {% endfor %}
    </ul>
    <h3>Invalid Words</h3>
    <ul>
        {% for word in invalid %}
        <li>{{word}}</li>
        {% endfor %}
    </ul>
    <a href="/pathwords/start">Play Pathwords again</a>
</main>
{% endblock %}