{% extends "../layout.html" %}

{% block main %}
<main>
    <form method="post">
        <p>Currently there are no configurable options for Pathwords.</p>
        <p>[TODO: add options for grid size, probably only supporting 4x4, 5x5, and 6x6 initially]</p>
        <p>[TODO: add options for dictionary, like "allow archaic words" or "allow shortened forms"]</p>
        <p>[TODO: add other options, like "minimum word length" or different scoring systems]</p>
        {% csrf_token %}
        <input class="btn" type="submit" name="start-pathwords" value="Play Pathwords" />
    </form>
</main>
{% endblock %}